<!DOCTYPE html>

@using Webbshop.Models;
@{
    var user = Session["ViewUser"] as ViewUser;
    var us = Session["User"] as User;
    if (us != null)
    {
        String userName = us.First_Name + " " + us.Last_Name;
    }

}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Webbshop, Kikom & Novej, kläder">
    <meta name="description" content="Webbshop med kläder som är unika för just ditt barn med ett 
    tygmönster och en design som endast finns i ett fåtal exemplar. För varje plagg som köps så
    gynnas ett barn genom välgörenhet då 5 kr skänks till angeläget ändamål.">
    <meta property="og:title" content="Kikom & Novej">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://kikomochnovej.se/">
    <meta property="og:description" content="Webbshop med kläder som är unika för just ditt barn med ett 
    tygmönster och en design som endast finns i ett fåtal exemplar. För varje plagg som köps så
    gynnas ett barn genom välgörenhet då 5 kr skänks till angeläget ändamål." >
    <link href="~/Content/shopviewstyle.css" rel="stylesheet" type="text/css" media="screen" />
    <title>@ViewBag.Title - Kikom & Novej</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("ShopIndex"))
    {
        @RenderSection("ShopIndex", required: false)
    }


    </head>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style = "box-shadow: #888 0px 2px 5px; border: none; background-color: #00838F;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Shop", "Index", "Shop", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @if(user != null)
                    {
                        if (user.Email == "admin")
                        {
                            <li>@Html.ActionLink("Kategorier", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Orderdetaljer", "Index", "Order_Details")</li>
                            <li>@Html.ActionLink("Ordrar", "Index", "Orders")</li>
                            <li>@Html.ActionLink("Produkter", "Index", "Products")</li>
                            <li>@Html.ActionLink("Målgrupp", "Index", "Target_Group")</li>
                            <li>@Html.ActionLink("Användare", "Index", "Users")</li>
                        }
                    }
                    

                </ul>
             
                <ul class = "nav navbar-nav" style="font-size: 12px; position: absolute; right: 3vw; line-height: 50px;" >
                @if (user == null)
                {
                    <li> @Html.ActionLink("Logga in", "Index", "ViewUser")</li>
                    <li><p style="color: white; vertical-align: middle; font-size: 10px;">eller</p></li>
                    <li>@Html.ActionLink("Registrera dig", "Create", "Users")</li>
                }
                else
                {
                    <li><img src="~/Images/Icons/icon-person-white.png" style="height:15px; width:auto; margin: 0px -5px 4px 0px;" /></li>
                    if (us != null)
                    {
                        String userName = us.First_Name + " " + us.Last_Name;
                        <li>@Html.ActionLink(userName, "Details", "Users", new { id = us.Id }, null)</li>
                    }
                    <li><p style="color: #F5EDF0; font-size:16px; margin-bottom: 7px;">|</p></li>
                    <li>@Html.ActionLink("Logga ut", "LogOut", "ViewUser")</li>
                }

                </ul>                      
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
