@model Webbshop.Models.Color

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    function show(input) {
      if (input.files && input.files[0]) {
        var filerdr = new FileReader();
        filerdr.onload = function (e) {
            $('#user_img').attr('src', e.target.result);
        }
      filerdr.readAsDataURL(input.files[0]);
      }
   }
</script>
<h2>Lägg till färg</h2>

@using (Html.BeginForm("Create", "Colors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Product_Id, "Produktnamn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Product_Id", null, htmlAttributes: new { @class = "form-control", @style ="display:none;" })
                <p style="margin-top: 8px;">@ViewBag.ProductName</p>
                @Html.ValidationMessageFor(model => model.Product_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Color1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Color1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Color1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Img_Name,"Bild", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>
                    <img id="user_img"
                         height="200"
                         width="180"
                         style="border:0.5px solid; margin-top: 9px"  />
                </div>
                <br />
                <div>
                    <input type="file" title="search image" id="file" name="file" onchange="show(this)" hidden/>
                </div>
                <br />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lägg till" class="btn btn-default" style="margin: 0px 5px 5px 9px;"/>
               
                <input type="button" class="btn btn-default" value="Nästa" onclick="location.href='@Url.Action("Create", "Sizes", new { id = ViewBag.ID })'" style="margin: 0px 5px 5px 5px;"/>
            </div>
        </div>
    </div>
</div>


}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
