@model Webbshop.Models.Color
@using Webbshop.Models;
@{
    var user = Session["ViewUser"] as ViewUser;
}

@if (user != null)
{
    if (user.Email != "admin")
    {
        { Response.Redirect("~/Shop/Index"); }
    }
}
else
{
    { Response.Redirect("~/Shop/Index"); }
}
@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort?</h3>
<div>
    <h4>Färg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
