@model Webbshop.Models.Product
@using Webbshop.Models;
@{
    var user = Session["ViewUser"] as ViewUser;
}

@if (user != null)
{
    if (user.Email != "admin")
    {
        { Response.Redirect("~/Shop/Index"); }
    }
}
else
{
    { Response.Redirect("~/Shop/Index"); }
}
@{
    ViewBag.Title = "Details";
}

<h2>Produktdetaljer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Category1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Target_Group.Target_Group1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target_Group.Target_Group1)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka", "Index")
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |
</p>
