@model IEnumerable<Webbshop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Target_Group.Target_Group1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Target_Group.Target_Group1)
        </td>
        <td>
            @Html.ActionLink("Uppdatera", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Lägg till storlek", "Create", "Sizes", new { id = item.Id }, null) |
            @Html.ActionLink("Lägg till färg", "Create", "Colors", new { id = item.Id }, null) |
            @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }, new { @style = "color: red;" })
        </td>
    </tr>
}
</table>
