@model Webbshop.Models.Order_Details
@using Webbshop.Models;
@{
    var user = Session["ViewUser"] as ViewUser;
}

@if (user != null)
{
    if (user.Email != "admin")
    {
        { Response.Redirect("~/Shop/Index"); }
    }
}
else
{
    { Response.Redirect("~/Shop/Index"); }
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.Color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Order_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Order_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.Size1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Size1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
